$icon-font-path: '../fonts/';
@import '_mixins';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$mp-blue: #648be3;
$mp-dark-blue: #4466b2;
$mp-dark-grey: #656565;

html, body {
  height: 100%;
}

body {
  background-color: black;
  font-family: 'Asap', Verdana, sans-serif;
  color: white;
}

h1 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  @include font-size(80px);
}

h2 {
  margin-top: 5px;
  @include font-size(30px);
}

.mp-content {
  padding-bottom: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default {
  .navbar-nav {
    & > li {
      & > a {
        transition: color 500ms;
        color: white;

        &:hover {
          color: #ACACAC;
        }
      }
    }
  }
}

.navbar-link {
  margin-top: 7.5px;
}

.navbar-toggle {
  margin-top: 15px;
}

.navbar-default {
  .navbar-toggle {
    .icon-bar {
      background-color: white;
    }

    &:hover,
    &:focus {
      background-color: $mp-dark-grey;
      border-color: $mp-dark-grey;
    }
  }
}

.mp-navbar-brand {
  position: relative;
  display: block;
  width: 180px;
  background-repeat: no-repeat;
  text-indent: -999em;
  @include background-image('mypleasure-logo');
  background-position: center 25px;
}

.mp-btn {
  background-color: $mp-blue;
  border-color: $mp-blue;
  color: white;
  font-weight: bold;
  transition: background-color 500ms;

  &:hover,
  &:focus {
    background-color: $mp-dark-blue;
    border-color: $mp-dark-blue;
    color: white;
  }

  &:disabled {
    color: #9D9D9D;
  }
}

.mp-form {
  top: 20px;

  .mp-msg-error {
    color: red;
  }

  .mp-msg-info {
    color: black;
  }
}

#mp-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: black;
  background-size: cover;
}
