{
  "global-strict": 0,   // (deprecated) require or disallow the "use strict" pragma in the global scope (off by default in the node environment)
  "no-extra-strict": 0, // (deprecated) disallow unnecessary use of "use strict"; when already in strict mode
  "strict": 0,          // controls location of Use Strict Directives
  "env": {
      "jquery": true,
      "browser": true
   }
}
