@import 'definitions';

html, body {
  width: 100%;
  height: 100%
}

#root {
  width: 100%;
  height: 100%;
  background-color: red;

  .center {
    @include center();
  }

  .screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.video {
      background: yellow;

      .title, .subtitle, .btn-next {
        text-align: center;
      }

      .btn-next {
        bottom: 0;
        position: absolute;
        width: 100%;
        cursor: pointer;
      }
    }

    &.privacy {

    }

    &.providers {

    }
  }
}
