@import 'definitions';

html, body {
  width: 100%;
  height: 100%
}

#main {
  opacity: 0;
  transition: 1s opacity;
  &.is-active {
    opacity: 1;
  }
}

#root {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;

  input, .button {
    @include prefix(border-radius, 5px);
    @include font-asap();
  }

  .button {
    font-weight: 700;
    background-color: $color-mp-blue;

    &:hover {
      background-color: $color-mp-blue-hover;
    }
  }

  .center-full {
    @include center(100%);
  }

  nav {
    @media only screen and (max-width: 40em) {
      display: none;
    }

    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    width: 25px;
    height: 180px;
    left: 100%;
    top: 50%;
    margin-left: -35px;
    margin-top: -90px;

    ul {
      list-style: none;
      margin-left: 0;
      position: relative;

      li {
        position: relative;
        display: block;
        width: 12px;
        height: 12px;
        left: 5px;
        border: 1px solid $color-mp-blue;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 40px;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 500ms;
        @include prefix(border-radius, 10px);

        &:last-child {
          margin-bottom: 0;
        }

        &.is-active {
          background-color: $color-mp-blue;
        }
      }
    }
  }

  .screen {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .row {
      max-width: none;
    }

    h1 {
      @include font-montserrat();
      @include font-size(50px);
      font-weight: 700;
      line-height: 3.5rem;

      @media only screen and (max-width: 40em) {
        @include font-size(30px);
        line-height: 33px;
      }
    }

    h2, .error-message {
      @include font-asap();
      @include font-size(18px);
      font-weight: 700;

      @media only screen and (max-width: 40em) {
        @include font-size(14px);
      }
    }

    .error-message {
      color: #FF0000;
      margin-top: 20px;
      text-align: center;
    }

    .input-group-button {
      @media only screen and (max-width: 40em) {
        display: block;
      }

      .button {
        @media only screen and (max-width: 40em) {
          display: block;
        }
      }
    }

    .logo {
      position: absolute;
      top: 1rem;
      left: 4rem;
      display: block;
      width: 180px;
      background-repeat: no-repeat;
      text-indent: -999em;
      @include background-image('mypleasure-logo');
      background-position: 0;

      @media only screen and (max-width: 40em) {
        left: 1rem;
      }
    }

    &.video, &.privacy, &.providers {
      .input-group {
        margin-left: 10px;
        margin-top: 2rem;

        @media only screen and (max-width: 40em) {
          margin-left: 0;
        }
      }

      .input-group-field {
        width: 93%;

        @media only screen and (max-width: 40em) {
          margin-left: 0;
          width: 100%;
        }
      }

      .input-group-button {
        @media only screen and (max-width: 40em) {
          width: 100%;
          margin-top: 0.5rem;
        }
      }

      .button {
        margin-left: -7px;

        @media only screen and (max-width: 40em) {
          margin-left: 0;
          width: 100%;
        }
      }
    }

    &.video {
      h1, h2 {
        color: #FFFFFF;
      }

      h2 {
        @media only screen and (max-width: 40em) {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }

      .title, .subtitle, .btn-next {
        text-align: center;
      }

      .btn-next {
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 40px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
        line-height: 40px;
        @include font-asap();
        @include font-size(12px);
        font-weight: 700;
        color: #FFFFFF;
      }

      video {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
    }

    &.privacy {
      background-color: #FFFFFF;
      color: #1A1A1A;

      @media only screen and (max-width: 40em) {
        .logo {
          display: none;
        }
      }

      .logo {
        @include background-image('mypleasure-logo-black');
      }

      h1 {
        padding-left: 1px;
      }

      h2 {
        padding-left: 4px;
      }

      .form {
        @media only screen and (max-width: 40em) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      @media only screen and (max-width: 64em) {
        .input-group-field {
          margin-left: -20px;
          width: 100%;
        }
      }

      @media only screen and (max-width: 40em) {
        .input-group-field {
          margin-left: 0;
        }
      }

      form {
        @media only screen and (max-width: 40em) {
          margin: 0 auto;
        }
      }

      .center-full {
        @media only screen and (max-width: 40em) {
          width: 96%;
          left: 49%;
          top: 42.5%;
          margin-left: -48%;
          text-align: center;
        }
      }

      .feed {
        position: absolute;
        width: 485px;
        height: 870px;
        background: url(../../dist/images/feed-background.png) top left no-repeat;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        transition: opacity 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000), transform 2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
        @include prefix(opacity, 0);

        @media only screen and (max-width: 40em) {
          background-size: 95%;
          background-position: center;
          width: 100%;
          left: 0;
        }

        &.is-visible {
          -webkit-transform: translate3d(0, -25%, 0);
          transform: translate3d(0, -25%, 0);
          @include prefix(opacity, 1);

          @media only screen and (max-width: 40em) {
            transform: translate3d(0, -10%, 0);
          }
        }
      }
    }

    &.providers {
      background-color: $color-light-blue;

      h1, h2 {
        color: #FFFFFF;
      }

      @media only screen and (max-width: 40em) {
        .logo {
          display: none;
        }
      }

      .title, .subtitle, .providers-list {
        text-align: center;
      }

      .providers-list {
        @media only screen and (max-width: 40em) {
          margin-top: -10px;
        }

        .center-full {
          @media only screen and (max-width: 40em) {
            top: 55%;
          }
        }

        ul {
          position: relative;
          display: inline-block;
          list-style: none;

          li {
            display: inline-block;
            position: relative;
            width: 155px;
            height: 50px;
            text-indent: -9999rem;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;

            &.youtube { background-image: url(../../dist/images/logo-youtube.png) }
            &.facebook { background-image: url(../../dist/images/logo-facebook.png) }
            &.koreus {
              background-image: url(../../dist/images/logo-koreus.png);
              @media only screen and (max-width: 40em) {
                background-position-y: 68%;
              }
            }
            &.vimeo { background-image: url(../../dist/images/logo-vimeo.png) }
            &.dailymotion {
              background-image: url(../../dist/images/logo-dailymotion.png);
              @media only screen and (max-width: 40em) {
                background-position-y: 62%;
              }
            }
            &.xhamster { background-image: url(../../dist/images/logo-xhamster.png) }
            &.xvideos { background-image: url(../../dist/images/logo-xvideos.png) }
            &.youporn{ background-image: url(../../dist/images/logo-youporn.png) }

            @media only screen and (max-width: 40em) {
              width: 80px;
              height: 30px;
              margin: 0 0.3rem;
              background-size: 90%;
            }
          }
        }
      }

      .providers-list:not(:last-child) ul {
        top: 30px;
      }

      .providers-list:last-child:before {
        content: " ";
        width: 3rem;
        height: 1px;
        display: block;
        background-color: #FFFFFF;
        position: relative;
        margin: 2rem auto;
        background-position-y: top;

        @media only screen and (max-width: 40em) {
          margin: 2rem auto 1.2rem auto;
        }
      }

      .provider {
        width: 155px;
        height: 40px;
        background-position: center;
      }
    }

    &.thankyou {
      text-align: center;
      background-color: #FFFFFF;
      background-image: url(../../dist/images/thankyou-background.jpg);
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      z-index: 3;
      pointer-events: none;
      transition: opacity 500ms;
      @include prefix(opacity, 0);

      .logo {
        @include background-image('mypleasure-logo-black');
      }

      &.is-visible {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
